<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
     <title>{% block title %}デフォルトタイトル{% endblock %}</title>
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <h1>まなびあクエスト</h1>
        <nav>
            <a href="{{ url_for('logout') }}">ログアウト</a>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        &copy; 2025 北神まなびあ
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>
