<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<header>
    <h1>まなびあクエスト</h1>
</header>
<body>
    <form class="login-form" method="POST">
        <h2>ログイン</h2>
        {% if error %}
            <script>
                alert("{{ error }}");
            </script>
        {% endif %}
        <label for="username">ユーザーID:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">パスワード:</label>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit">ログイン</button>
    </form>
    <footer>
        &copy; 2025 北神まなびあ
    </footer>
</body>
</html>
