<!-- templates/select_quest_admin.html -->
{% extends "base.html" %}

{% block title %}クエスト選択{% endblock %}

{% block content %}
<h1>{{ title }} / {{ level }} のクエストを選んでください</h1>

<ul class="selectable-list">
  {% for quest in quests %}
    <li data-url="{{ url_for('quest_run_group', quest_id=quest.id) }}" onclick="window.location.href=this.dataset.url">
      ID: {{ quest.id }} - <div class="markdown" data-content="{{ quest.questname | e }}"></div>
    </li>
  {% endfor %}
</ul>

<div style="margin-top: 20px; display: flex; flex-wrap: wrap; gap: 10px;">
    <a class="button secondary" href="{{ url_for('select_level_admin', title=title) }}">レベル選択に戻る</a>
    <a class="button secondary" href="{{ url_for('select_title_admin') }}">科目選択に戻る</a>
    <a class="button" href="{{ url_for('dashboard_' + current_user.role) }}">ダッシュボードに戻る</a>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
  function renderMarkdownAndMath() {
    document.querySelectorAll('.markdown[data-content]').forEach(function(div) {
        window.renderMarkdown(div, div.getAttribute('data-content'));
    });
  }

  document.addEventListener("DOMContentLoaded", () => {
    renderMarkdownAndMath();
  });
</script>
{% endblock %}